body {
  background: #f7f7f7;
}

.card.card-shadow {
  -webkit-box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.05),
    2px 2px 2px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.05),
    2px 2px 2px 1px rgba(0, 0, 0, 0.05);
}

.bold-title.card-title {
  font-size: 1.3rem;
  font-weight: bold;
}

.card-subtitle {
  color: #616770;
}
